# Template Environment Variables untuk GitHub Actions atau Local Development
# Jika Anda butuh menambahkan variabel environment untuk VitePress, Anda bisa menambahkannya di sini.
# Jangan lupa untuk menambahkan prefix `VITE_` jika variabel tersebut ingin diakses di sisi client (browser).

# Contoh:
# VITE_API_URL=https://api.nexaid.com
# VITE_APP_VERSION=1.0.0
